html, body {
    height: 100%;
}

body {
    padding: 0;
    margin:  0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    border: 1px solid #222;
    position: absolute;
    left: 50%;
    top:  50%;
    margin-left: -200px;
    margin-top:  -150px;
}